._*
~*
*~
.DS_Store
*.pyc
figs*/*
.vscode/
.cache/
**/*.pyc
**/*.o 
**/*.c
**/*.dylib
**/*.cpp
**/*.so 
**/*.nrn
**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
*$py.class
**/*~
**/x86_64/**
.conda/conda-bld/**/*
**/*.code-workspace
**/.coverage
**/*.log
**/*.pdf
output_axon_iclamp/*
output_axon_iclamp_150pA*/*
output_axon_iclamp_350pA*/*
output_axon_iclamp_Dec13_2024/*
output_stub_iclamp*/*
output_axon_iclamp_mechanism_check/*
output_axon_iclamp_mechanism_check_dL10/membrane_potential.h5
output_axon_iclamp_mechanism_check_dL20/membrane_potential.h5
output_axon_iclamp_mechanism_check_dL5/membrane_potential.h5
cantata-*/*
components/Ca_HVA.mod
components/Ca_LVA.mod
components/mechanisms/arm64/makemod2c_inc
components/mechanisms/arm64/special
output_axon_iclamp_mechanism_check_dL5_*/*
output_axon_iclamp_mechanism_check_dL1/*
components/modfiles_eca_both_Ca/*
components/modfiles_orig/*
components/mechanisms/modfiles_eca_Ca_HVA/*
components/mechanisms/modfiles_eca_Ca_LVA/*