._*
~*
*~
.DS_Store
*.pyc
figs*/*
.vscode/
.cache/
**/*.pyc
**/*.py~
**/*.ipynb_checkpoints/
**/__pycache__
*.egg-info
*.edgg-info
*$py.class
**/*~
**/x86_64/**
.conda/conda-bld/**/*
**/*.code-workspace
**/.coverage
**/*.log
**/*.pdf
output_axon_iclamp/*
output_axon_iclamp_150pA*/*
output_axon_iclamp_350pA*/*
output_axon_iclamp_Dec13_2024/*
output_stub_iclamp*/*
output_axon_iclamp_mechanism_check/*